<div class="row">
  <div class="row" id="stance-index-header">
    <% if params[:select] == "Popular" || params[:select] == "Recent" %>
    <h3 class="stance_index_title text-blue"><span class='text-red'><%= params[:select] %></span> Stances</h3>
    <% elsif params[:select] %>
    <h3 class="stance_index_title text-blue">Stances other users have taken on the issue of <span class='text-red'><%= params[:select] %></span>:</h3>
    <% else %>
    <h3 class="stance_index_title text-blue"><span class='text-red'>All</span> Stances</h3>
    <% end %>

  </div>
  <ul class="sort-popular-recent">
    <li><a href="/stances/issues/Popular" data-search>Popular</a></li>
    <li><a href="/stances/issues/Recent" data-search>Recent</a></li>
  </ul>
  <div class="stances">
    <div class="large-12 medium-12 columns">
      <div class="row stance_detail_list">
      <%= render partial: "stances/stance_list", locals: {stances: @stances} %>
      </div>
    </div>
  </div>
  <div class="large-9 medium-8 columns">
    <%= button_tag 'Load more',  method: :get, action: '/stances/load', id: 'load_more_button' %>
  </div>
</div>
</div>